name: GitHub Release
on:
  push:
    branches:
      - main
      - master
jobs:
  build:
    name: Checking out your code and building it
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: npm run build
  release:
    name: GitHub Release
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '12'
      - run: npm install
